@model SalesWebMvc.Models.Seller
@{
    ViewData["Title"] = "Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Seller</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(s => s.Id)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(s => s.Name)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(s => s.Email)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(s => s.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(s => s.BaseSalary)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.BaseSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(s => s.Department)
        </dt>
        <dd>
            @Html.DisplayFor(s => s.Department.Name)
        </dd>

    </dl>

    <div>
        @*<a asp-action="Edit" asp-route="@Model.Id">Edit</a>*@|
        <a asp-action="Index">Back to Index</a>
    </div>

</div>

